BasedOnStyle: Microsoft
IndentWidth: 4
ColumnLimit: 120
AllowShortFunctionsOnASingleLine: Inline
AlwaysBreakTemplateDeclarations: Yes
BreakBeforeBraces: Attach
IndentCaseLabels: false
NamespaceIndentation: All
PointerAlignment: Left
SpaceAfterTemplateKeyword: false
